<div class='main-container'>
<div class='column1'>
  <div class='grid'>
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
    sample 1
  </div>
  <div class='grid'>
    sample 2
    sample 2
    sample 2
    sample 2
    sample 2
    sample 2
    sample 2
    sample 2
    sample 2
  </div>
</div>

<div class='column2'>
  <div class='grid'>
    sample 3
    sample 3
    sample 3
    sample 3
    sample 3
  </div>
  <div class='grid'>
    sample 4
    sample 4
    sample 4
    sample 4
    sample 4
    sample 4
    sample 4
    sample 4
    sample 4
    sample 4
    sample 4
    sample 4
    sample 4
    sample 4
    sample 4
    sample 4
    sample 4
    sample 4
  </div>
</div>

<div class='column3'>
  <div class='grid'>
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
    sample 5
  </div>
  <div class='grid'>
    sample 6
    sample 6
    sample 6
    sample 6
    sample 6
    sample 6
    sample 6
    sample 6
    sample 6
    sample 6
    sample 6
    sample 6
    sample 6
    sample 6
    sample 6
  </div>
</div>
<div class='column4'>
  <div class='grid'>
    sample 7
    sample 7
    sample 7
    sample 7
    sample 7
    sample 7
    sample 7
    sample 7
    sample 7
    sample 7
    sample 7
    sample 7
    sample 7
    sample 7
    sample 7
    sample 7
    sample 7
    sample 7
    sample 7
    sample 7
  </div>
  <div class='grid'>
    sample 8
    sample 8
    sample 8
    sample 8
  </div>
</div>
</div>
