<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>share-travel.net</title>
    <script type="text/javascript" src="http://union.mapbar.com/apis/maps/free?f=mapi&v=31
      &k=aCW9cItqL6NtTSEgLSWyTSZgbH4pZSVhMYV6NIV5EeFhMYN
      mT7D5MeM5TYfh@TEhMT9YqqppNYhTNatMpEYZZSZ9Zt47TTCYa
      MgFTgVeTYhhL@DZpW6eTtq6Z5M9FFf="></script>
    <script type="text/javascript">
      var maplet = null;
      function initMap(){
        maplet = new Maplet("mapbar");
        maplet.centerAndZoom(new MPoint(104.4928,34.16217), 2);
        maplet.addControl(new MStandardControl());
      }
</script>
  </head>
  <body onload="initMap()">
    <p style="
    text-align: center;
    font-size: 30px;
    "><a href="https://github.com/zlx/sharetravel">share-travel.net</a> is comming soon!</p>
    <div id="mapbar" style="margin:auto;width:1000px;height:600px;"></div>
    <hr><div style="
      text-align: center;
      font-size: 16px;
      ">copyright @2012 &nbsp;power by <a href="http://www.ruby-china.org/zlx">@zlx_star</a></div>
  </body>
</html>
