<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ammap</title>
<style>
  body{
    margin: 0px;
  }
</style>
</head>

<body onLoad="ammap.focus()">
  <%= javascript_include_tag 'swfobject' %>
	<div id="flashcontent">
		<strong>You need to upgrade your Flash Player</strong>
	</div>

	<script type="text/javascript">
		var so = new SWFObject("/ammap.swf", "ammap", "100%", "100%", "8", "#3A79C1");
    so.addVariable("path", "/ammap/");
    so.addVariable("data_file", "/home/ammap_data.xml");
    so.addVariable("settings_file", "/home/ammap_setting.xml");
		so.addVariable("preloader_color", "#999999");
		so.write("flashcontent");
	</script>
</body>
</html>
