<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>share-travel.net</title>
  </head>

  <body onLoad="ammap.focus()" class="home">
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <div id="flashcontent">
      <strong>You need to upgrade your Flash Player</strong>
    </div>
    <script type="text/javascript">
      var so = new SWFObject("/ammap.swf", "ammap", "100%", "100%", "8", "#ddddee");
      so.addVariable("path", "/ammap/");
      so.addVariable("data_file", "/home/ammap_data.xml");
      so.addVariable("settings_file", "/home/ammap_setting.xml");
      so.write("flashcontent");
      </script>
    </body>
  </html>
