// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  background: url(/assets/bg.png) repeat;
}

#flashcontent {
  left: 100px;
  top: 100px;
  width: 600px;
  height: 400px;
  position: relative;
}
