<!DOCTYPE html>
<html>
  <head>
    <title>Share-Travel.net</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="home">
    <div class='top-bar'>
      <span class='welcome'>欢迎回家</span>
      <span class='name'><a href='#'>zlx_star</a></span>
      <span class='user-center'><a href='#'>个人中心</a></span>
    </div>
    <nav class='header'>
      <span class='logo'>
        <a href='/'><img src='/assets/logo.png' width='300px'></img></a>
      </span>
      <div class='menu'>
        <span class='home'><a href='#'>首页</a></span>
        <span class='targets'><a href='#'>目的地</a></span>
        <span class='scenes'><a href='#'>游记</a></span>
      </div>
    </nav>
    <div class="content">

      <%= yield %>

    </div>
  </body>
</html>
