<!DOCTYPE html>
<html>
  <head>
    <title>Share-Travel.net</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="home">
    <nav class='header'>
      <span class='logo'>
        <a href='/'><img src='/assets/logo.png' width='300px'></img></a>
      </span>
    </nav>
    <div class="content">

      <%= yield %>

    </div>
  </body>
</html>
